{% extends "davita/base.html" %}
{% load crispy_forms_tags%}
{% block content%}
<div class="content-section col-md-8">
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			{% if not confirm%}
			<legend class="border-bottom mb-4">Enter Data</legend>
			{% else %}
			<legend class="border-bottom mb-4">Confirm Data</legend>
			
			{% endif %}
			{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			{% if not confirm%}
			<button class="btn btn-outline-info" type="submit" formaction="/submit/">Submit</button>
			<a class="ml-4" href="/upload/">
				Or Upload Image
			</a>
			{% else %}
			<button class="btn btn-outline-info" type="submit" formaction="/submit/{{id}}/">Confirm</button>
			<a class="ml-4" href="/upload/">
				Or Upload Image Again
			</a>
			{% endif %}
		</div>
	</form>
</div>

{% endblock content %}